@charset "UTF-8";

/*Tablet*/
@media screen and (min-width:769px) {
    body{
        max-width: 992px;
    }
    header{
        max-width: 992px;
    }
    div#momentos img{
        height: 200px;
        width: 330px;}
    div#momentos span{
        font-size: 6em;
    }
    div#momentos p{
        font-size: 1.1em;
    }
    article#mus iframe{
        width: 70vw;
        height: 500px;
        align-self: center;
    }
    footer{
        background-color: black;
    }
    
}

/*Pc*/

@media screen and (min-width:993px) {
    body{
        max-width: 1200px;
    }
    header{
        max-width: 1200px;
    }
}