@charset "UTF-8";

@font-face {
    font-family:'london';
    src: url('/violetas/fontes/old_london/OldLondon.ttf');
    
}

:root{
    --cor1:#A64DFF;
    --cor2:#8000FF;
    --cor3:#6600CC;
    --cor4:#532680;
    --cor5:#400080;
    --titulo:'london', 'cursive';
}

h1{
    font-family: var(--titulo);
}