@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
}
h1{
    text-align: center;
    padding-top: 20px;
}

#add_tarefa{
    width: 100vw;
    display: flex;
    margin: 15px;
    justify-content: center;
}

#botao{
    height: 3em;
    width: 3em;
    border-radius: 10px 0px 0px 10px;
    border: 0.1px grey solid;
    cursor: pointer;
}

input[type='text']{
    height: 2.4em;
    width: 22em;
    font-size: 1em;
}

#lugar_tarefas{
    width: 100vw;
    flex-direction: column;

    display: flex;
    align-items: center;
    height: 26em;
}

.caixao{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    width: 84%;
    border: 1px solid black;

}

.caixinha{

    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    width: 27px;}

.taf{
    margin: 2px;
    font-size: 1em;
    
}

.clicado{
    color: blue;
}
