@charset "UTF-8";

@font-face {
    font-family: 'scott';
    src: url(../dusty/Dusty.ttf);
}

*{
    margin: 0px;
    padding: 0px;

}

:root{
    --cor1:#add8e6;
    --cor2:#69CAEA;
    --cor3:#2E5866;
    --cor4:#86A7B3;
    --font-titulo:'scott', cursive;
    --font-texto: 'Arial'
}

body{
    position: absolute;
    background-color: var(--cor4);
    font-family: var(--font-texto);
    height: 100vh;
    width: 100vw;
}

header{
    position: relative;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3) );
    height: 80px;

}

h1{
    position: relative;
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 2em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}


img{
    background-color: var(--cor1);
    display: block;
    margin: auto;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.432)
}

p{
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
  
}

input[type=button]{
    display: block;
    width: 250px;
    height: 70px;
    margin:20px auto;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.268);
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    text-align: center;
    background-color: var(--cor1);

}

