@charset "UTF-8";
@font-face{ 
    font-family: 'cream, cursive';
    src: url('cream_cake/Cream\ Cake.otf');
}

:root{
    --cor1:#FFF649;
    --cor2:#9e2123;
    --cor3:#7FB285;
    --cor4:#242038;
    --font-texto:'sans-serif';
    --font-subtitulos:'cream, cursive'
}

*{
    padding: 0px;
    margin: 0px;
}

body{
   background: black url('https://cultura.uol.com.br/upload/tvcultura/noticias/20211102150415_marighella.jpg') center center no-repeat fixed;
   background-size: cover;

}
header{
    background-color: white;
    margin-bottom: 30px;
    max-width: 1030px;
    min-width: 230px;
    height: 100px;
    background-image: linear-gradient(to bottom, var(--cor1), #9e2123);}

header h1{
    text-align: center;
    font-size: 1.7em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
nav{
   
    margin-top: 41px;
}

nav a, nav a:visited{
    text-decoration: none;
    background-color:  #9e2123;
    border-radius: 5px;
    color: black;
 
    padding: 2px;
    font-size: 1.3em;
    margin:2px 2px 2px 2px;
    transition-duration: 0.2s;
    
}
nav a:hover{
    text-decoration: underline;
    background-color: #c72427;

}
main{
    background-color: rgba(255, 255, 255, 0.719);
    margin: auto;
    max-width: 600px;
    min-width: 250px;
    border-radius: 6px;
    box-shadow: 5px 4px 11px  black;
    padding: 5px;
}

main p{
    font: var(--font-texto);
    line-height: 20px;
}

main a, main a:visited{
    text-decoration: none;
    color: #4833b4;
    font-weight: 700;
}
 main a:hover{
    text-decoration: underline;
    font-weight: 500;
 }
 a.fora::before{
    content:'\1f517';
    color:black;

 }

 main ul{
    list-style-position: inside;
 }

